* {
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    
}

header {
    background-color: #fff;
    height: 104px;

}
//Slider 
.Slider {
  
        position: relative;
        
    

    .PrevButton , .NextButton {
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 100%;
        
        user-select: none;
        cursor: pointer;

        &:hover {
            background-color: greenyellow;
        }
    }
    svg {
        border-radius: 100%;
        padding: 14px 18px;
    }
    .NextButton {
        right: 0;
        // border-radius: 3px 0 0 3px;

    }
    img {
        width: 100%;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
}

//Contact
.Contact {
    position: fixed;
    bottom: 32px;
    left: 32px;
    .phone {
        font-size: 32px;
        margin-bottom: 12px;
        svg {
            color: #fff;
            border-radius: 30px;
            background-color: red;
            border: 1px solid red;
            padding: 12px;

            &:hover{
                background-color: darkred;
                border-color: darkred;
            }
        }

    }
    .zalo {

        img {
            background: #2196F3;
            width: 60px;
            border-radius: 30px;
            border: 1px solid #2196F3;
            padding: 12px;

            &:hover {
                background: #1E88E5;
                border-color: #1E88E5;
            }
    }
    }
   
}

.row {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.container {

        margin-left: auto;
        margin-right: auto;
    
}