main {
    .content {
        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; /* Tạo khoảng cách đều giữa các cột */
            align-items: stretch;
        }

        .col-inner {
            flex-basis: 49%; /* Chia đều chiều rộng của các cột */
            margin-bottom: 20px; /* Thêm khoảng cách giữa các dòng */
            margin-top: 20px;
            display: flex;
            align-items: center;
        }

        .col-inner p {
            margin-left: 10px; /* Tạo khoảng cách giữa icon và text */
        }

        /* Styling cho tiêu đề */
        h1 {
            text-align: center;
            color: #d9534f; /* Màu đỏ cho tiêu đề giống hình */
            font-weight: 700;
            text-rendering: optimizeSpeed;
            text-transform: uppercase;
            font-size: 1.6em;
            line-height: 1.3;

        }
        svg.svg-inline--fa.fa-check {
            border-radius: 100%;
            border: 1px solid;
            padding: 4px;
            color: white;
            margin-bottom: -4px;
            width: 18px;
            background: red;
            height: 18px;
        }
    }
}
