header {
    .container {
        align-items: center;
        display: flex;
        justify-content: space-around;
        position: fixed;
        top: 0;
        left: 0;
        max-width: 100%;
        z-index: 1000;
        background-color: #fff; /* Màu nền cho header */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng shadow */
        img {
            max-height: 104px;
            padding: 9px 0;
        }
    }

    .menu-icon {
        display: none;
        font-size: 2em;
        cursor: pointer;
    }
    .nav-pills .nav-link.active {
        background-color: greenyellow !important;  /* Ghi đè bằng !important */
        color: white !important;
        font-weight: bold !important;
    }
    nav {
        
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            align-items: center;
            width: 100%;
            position: relative;

            >li {
                list-style: none;
                position: relative;
                padding: 0;
                margin: 0px 4px;
                border-radius: 50%;
                &:hover {
                    transition: border-radius 0.1s ease; 
                    background-color: greenyellow;
                    border-radius: 8px;
                }
            }
        }
        .nav-link {
            font-weight: 500 !important;
            padding: 0 .75em;
            border-radius: 99px;
            color: #334862;
            letter-spacing: .02em;
            text-transform: uppercase;
            font-size: .9em;
            padding: 0 .75em;
            border-radius: 99px;
            line-height: 2.5em;
            font-size: .9em !important;
            letter-spacing: .02em;
            text-transform: uppercase;
            font-weight: bolder; 
            transition: all .2s;
            &:hover {
                color: #334862;
            }
        }
       
    }
   
    @media (max-width: 768px) {
        .menu-icon {
            display: block;
        }

        nav {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 200px;
            background-color: white;
            box-shadow: -2px 0 5px rgba(0,0,0,0.5);
            z-index: 1000;

            &.open {
                display: block;
            }
            
            ul {
                flex-direction: column;
                width: 100%;
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    margin: 0;
                    padding: 1em;
                    width: 100%;
                    text-align: center;
                    
                    a {
                        display: block;
                        width: 100%;
                        padding: 1em 0;
                        border-top: 1px solid #555;
                        border-bottom: 1px solid #555;
                        color: black;
                        text-decoration: none;
                    }

                    &:hover {
                        background-color: #f0f0f0;
                    }
                }
            }
        }
    }
}
    