header {
    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;

        img {
            max-height: 104px;
            padding: 9px 0;
        }

    }

    nav {

        ul {
            display: flex;
            margin: 0;
            align-items: center;

            li {
                list-style: none;
                position: relative;

            }
        }
}
}